## 연산자 학습
1. 숫자 연산

In [159]:
# 연산자
a = 11 ; b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b) # 나눗셈할때는 더 알고 있어야함 - 소수점 같은거 - float 
print(a // b) # 나눗셈의 정수만, 소수점은 버림 - int
print(a % b) # 나눗셈 후 나머지

15
7
44
2.75
2
3

In [160]:
print(a ** b) # 11의 4승
print(11 * 11 * 11 * 11)

14641
14641

In [161]:
# 경고 예외발생!
c = 0
# print(a / c) # 숫자를 0으로 나눌 수 없음, 실행 중에 난 에러임 = 예외(허용되지 않음) # ErrorDivision 예외발생

# prin t(a / c) # 오류, 에러, 오타

2. 문자열 연산

In [162]:
# 문자열 연산
first = 'Hello,'
second = 'World'
print(first + ' ' + second)


# print(second + 5) # 문자만 결합할 수 있음(숫자가 들어가면 안됨)
print(second * 5) # 곱하기는 가능
# print(first - second)
# print(first / 2)

Hello, World
WorldWorldWorldWorldWorld

In [163]:
## 문자열
print(len(first))
print(first[0])
print(first[1])
print(first[2])
print(first[3])
print(first[4])
print(first[5])
# print(first[6]) index Error 예외발생

6
H
e
l
l
o
,

In [164]:
print(first[-6])

H

In [165]:
# 현재 일시
current = '2022-05-23 17:33:45'
curr_data =  current.split(' ') # 문자열 자르기
print(curr_data) # 배열, 리스트
print(curr_data[0])
print(curr_data[1])

print(current[0:4])
print(current[5:7])
print(current[8:10])

print(current[11:13])
print(current[14:16])
print(current[17:19])


print(current[-2:]) # 반대로도 가능
print(current[-5:-3])

['2022-05-23', '17:33:45']
2022-05-23
17:33:45
2022
05
23
17
33
45
45
33

In [166]:
# 일반 리스트 값 변경
q = [1,2,3,4,5] # q 라는 리스트
print(q)
print(q[0]) # q의 인덱스 값
q[0] = 7 # 값을 변경할 수 있음
q[1] = 'H'
print(q)

[1, 2, 3, 4, 5]
1
[7, 'H', 3, 4, 5]

In [167]:
# 문자열 (문자의 배열) 값 변경
greeting = 'hello!' # 문자열은 완벽한 리스트 상태가 아니여서 변경할 수 없음
print(greeting)
print(greeting[0])
# greeting[0] = 'H' # TypeError 예외발생
print(greeting)

new_greeting = 'H' + greeting[1:] ##  대괄호 무슨 뜻인지 모르겠음 # 문자열을 변경하려면
print(new_greeting)

hello!
h
hello!
Hello!

3. 문자열 포맷팅 / 연산자

In [168]:
# 문자열 포맷팅
"I'm so happy for you"
'I\'m so happy for you'

# 포맷팅 구식
word1 = 'for'
word2 = 'me'
print('I\'m happy {0} {1}'.format('word1','word2')) # {0}이라는 자리의 값을 format 안의 값으로 변경함


# 포맷팅 신식
name = '최심형'
region = '서울'
print(f'제 이름은 {name}입니다. {region}에 살아요') # f를 안쓰면 포맷팅이 안됨

I'm happy word1 word2
제 이름은 최심형입니다. 서울에 살아요

In [169]:
import math
print(math.pi)
print(f'{math.pi:0.2f}') # 위치: 소수점 몇째짜리에서 f(반올림)
print('{0:0.4f}'.format(math.pi)) #  위랑 비교하면 구식이 긺

3.141592653589793
3.14
3.1416

In [170]:
# 문자열 자르기
orign_str = '서울특별시 금천구 가산동'
print(orign_str)
print(orign_str.split())

mes_str = 'DEST07|2022-05-24|10:07:17|DESC11|NONE'
print(mes_str.split('|'))

서울특별시 금천구 가산동
['서울특별시', '금천구', '가산동']
['DEST07', '2022-05-24', '10:07:17', 'DESC11', 'NONE']

In [171]:
# 문자열 치환
full_name = 'Hugi MG Sung'
rep_name = full_name.replace('Hugo MG', 'Ashly')
print(rep_name)

Hugi MG Sung

In [172]:
# 문자열 공백 제거
test = 'Hey, Guys~'
sp_test = test.split(',') # 특정단어 잘라줌
print(sp_test)
sp_test[1] = sp_test[1].replace('~', '').strip() # 함수를 여러번 쓸 수 있음
# 문자열에서 특정단어를 바꾸는 replace() 
# 문자열의 공백을 제거해주는 lstrip(), rstrip(), strip()
print(sp_test)

['Hey', ' Guys~']
['Hey', 'Guys']

In [173]:
print('     Hello~     '.lstrip())   #왼쪽에 있는 공백 제거
print('     Hello~     '.rstrip())   #오른쪽에 있는 공백 제거
print('     Hello~     '.strip())   #양쪽에 있는 공백 제거

#단, 글자들 사이에 존재하는 공백은 제거하지 못한다.

Hello~
     Hello~
Hello~

In [174]:
print(test.index('G'))
# print(test.index('g')) # ValueError 예외발생, 없는 단어 찾으면

5

In [175]:
print(test.find('G'))
print(test.find('g')) # -1 나오면  값 없다는거를 알려줌, index보다는 find가 좋음

5
-1

In [176]:
print('Hello~'.count('1'))

0

In [177]:
print(full_name.upper()) # 모든 단어를 대문자
print(full_name.lower()) # 모든 단어를 소문자

HUGI MG SUNG
hugi mg sung

4. 리스트 연산 (Alt + Enter 하면 새로운 셀 만듦)

In [178]:
# 리스트 연산
arr = [1,2,3,4,5]
print(len(arr))
print(arr[4]) # 4번째 자리에 있는 값

print(arr[0] + arr[4])
arr[2] = '3' # 문자열이 됨
print(arr)
# print(arr[2] + arr[3])  # 문자열이랑 숫자랑 안 더해짐
print(arr[2] * arr[3]) # 곱하기는 문자열 숫자 가능

print(arr[-1])

5
5
6
[1, 2, '3', 4, 5]
3333
5

In [179]:
# 2차열 배열
arr2 = [1,2, ['Hi', 'My', 'Friends']]
print(arr2)
print(arr2[2])
print(arr2[2][2]) # 2번째 리스트에서 2번째 값을 가져옴
print(arr2[2][2][0])

[1, 2, ['Hi', 'My', 'Friends']]
['Hi', 'My', 'Friends']
Friends
F

In [180]:
print(arr2[0:2])
print(arr2[-2:]) # 이거 뭐지?? 값이 다름

[1, 2]
[2, ['Hi', 'My', 'Friends']]

In [181]:
print(arr2)
del(arr2[2]) # 리스트 지우는 함수
print(arr2)

[1, 2, ['Hi', 'My', 'Friends']]
[1, 2]

In [182]:
# 리스트 변수 추가
print(arr)
arr.append(9)

[1, 2, '3', 4, 5]

In [183]:
print(arr)

[1, 2, '3', 4, 5, 9]

In [184]:
#insert()
arr.insert(3, 25)
print(arr)

[1, 2, '3', 25, 4, 5, 9]

In [185]:
arr.extend(q)
print(arr)

[1, 2, '3', 25, 4, 5, 9, 7, 'H', 3, 4, 5]

In [186]:
# 정렬
list1 = [8,2,9,3,4,5,1,10]
print(list1)

list1.sort() # 오름차순 정렬
print(list1)
list1.reverse() # 내림차순 정렬
print(list1)

[8, 2, 9, 3, 4, 5, 1, 10]
[1, 2, 3, 4, 5, 8, 9, 10]
[10, 9, 8, 5, 4, 3, 2, 1]

In [187]:
# 스택형태 함수
print(list1)
print(list1.pop()) # 전체 리스트에서 마지막 값을 빼버림
print(list1)

[10, 9, 8, 5, 4, 3, 2, 1]
1
[10, 9, 8, 5, 4, 3, 2]

5. 튜플, 튜플 연산

In [188]:
# 리스트랑 똑같은데 만드는 형식이 다름
tup1 = (1,2,3,4,5) # 소괄호
print(tup1)

(1, 2, 3, 4, 5)

In [189]:
print(tup1[4])

5

In [190]:
# tup1[0] = 7 # 튜플은 리스트와 달리 값을 추가, 제거, 할당이 안됨(변경x)

6. 딕셔너리 연산 (key와 value의 쌍)

In [191]:
dic_a = {1 :'a'} # 중괄호를 씀
print(dic_a)

{1: 'a'}

In [192]:
dic_a[2] = 'b'
print(dic_a)

{1: 'a', 2: 'b'}

In [193]:
dic_a['name'] = 'Hugo'
print(dic_a)

{1: 'a', 2: 'b', 'name': 'Hugo'}

In [195]:
spider_man = {'name':'Peter parker', 'armer':'Web shooter', 'age':20}
print(spider_man)

{'name': 'Peter parker', 'armer': 'Web shooter', 'age': 20}

In [196]:
print(spider_man['name'])
print('age in spider_man')

Peter parker
age in spider_man